.header {
  display: flex;
  height: 60px;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__location {
  padding: -10px;
  color: white;
}

.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 10px;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  border-radius: 0px 5px 5px 0px;

  background-color: #cd9042;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  color: white;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__optionlineOne {
  font-size: 10px;
}

.header__optionlineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin: 0px 10px;
}

/* @media only screen

and (min-device-width: 360px)

and (max-device-width: 959px)

and (-webkit-min-device-pixel-ratio: 2)

and (orientation: portrait) {


} */